version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: habit-bot
    container_name: habit-bot-app
    restart: unless-stopped
    ports:
      - "9000:9000"
    volumes:
      - .:/var/www
    environment:
      TELEGRAM_BOT_TOKEN: ${TELEGRAM_BOT_TOKEN}
      APP_ENV: local
      APP_KEY: base64:...
      DB_CONNECTION: mysql
      DB_HOST: db
      DB_PORT: 3306
      DB_DATABASE: habitbot
      DB_USERNAME: root
      DB_PASSWORD: 1234
    depends_on:
      - db

  db:
    image: mysql:8.0
    container_name: habit-bot-db
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: 1234
      MYSQL_DATABASE: habitbot
    ports:
      - "3306:3306"
    volumes:
      - dbdata:/var/lib/mysql

volumes:
  dbdata:
